body {
    font-size: 14px;
    font-family: 'verdana';
    background-color: #FFFFF6;
}

.dataset-stub {
    border:1px solid black;
    background-color: #F0FFFF;

    float: center;
    width: 750px;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;

}

.dataset-full {
    border:1px solid black;
    background-color: #F0FFFF;

    float: center;
}

.top {
    height:inherit;
}

.image {
    height: inherit;
    max-height: 200px;
    float: left;
    display: block;
}

.image img {
    height: 100%
}

.title {
    display: block;

    float: center;
}

.stats {

}

.size {

}

.download {

}

.hash {

}

.citation {
    display: block;

}

.description {
    display: block;

}

.references {
    display: block;

}
